__pycache__/
*.py[cod]
*$py.class
*.so
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml

.env
.python-version

.venv/
venv/
env/
ENV/
pip-wheel-metadata/
*.egg-info/
*.egg
dist/
build/
.cache/
instance/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

logs/
*.log

images/gallery/
images/vehicles/
